.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--navbar-bg);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .side-menu {
    width: 100%;
  }

  .side-menu-links {
    width: 100%;
  }

  .navbar-links .hide-mobile {
    display: none;
  }

  .navbar-links {
    justify-content: flex-end;
  }

  .menu-btn {
    display: block;
  }
}
  
  .navbar-title {
    display: flex;
    gap: 0.5rem;
  }
  
  .title-word {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
    text-transform: uppercase;
  }
  
  .navbar-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  
  .navbar-links li {
    margin-left: 1.5rem;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
  }
  
  .navbar-links a:hover {
    color: var(--text-color-2);
  }

  
  .menu-btn {
    background: none;
    border: none;
    color: var(--text-color);
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem;
    /* display: none; Hide by default, show only on mobile */
  }
  
  .menu-btn:hover {
    color: var(--text-color-2);
  }

  
  .profile-pic img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }

  .nav-menu-btn {
    width: 30px;
    height: 30px;
    object-fit: cover;
    cursor: pointer;
  }
  
  .sign-out-btn {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: var(--text-color);
    font-weight: 500;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .sign-out-btn:hover {
    color: var(--text-color-2);
  }
  
  .sign-out-btn svg {
    margin-right: 0.5rem;
  }
  
  .side-menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
  }
  
  .side-menu-overlay.open {
    opacity: 1;
    pointer-events: auto;
  }
  
  /* .side-menu {
    border-radius: 10px 0px 10px 10px;
    width: 300px;
    height: 100%;
    background-color: var(--sidebar-bg);
    padding: 1rem;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  
  .side-menu.open {
    transform: translateX(0);
  } */
  
  .close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text-color);
  }
  
  .user-info {
    display: flex;
    align-items: center;
    padding: 1rem;
  }
  
  .user-info .profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
  }
  
  .user-details {
    flex-grow: 1;
    overflow: hidden;
  }
  
  .user-name {
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .user-email {
    margin: 0;
    font-size: 0.8rem;
    color: var(--text-color-2);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  
  
  .side-menu.open {
    transform: translateX(0);
  }
  
  .side-menu {
    width: 300px;
    height: 100%;
    background-color: var(--sidebar-bg);
    padding: 2rem 1rem 2rem 2rem;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  
  @media (max-width: 768px) {
    .navbar {
      padding: 1rem;
    }
  
    .side-menu {
      width: 100%;
    }
  
    .side-menu-links {
      width: 100%;
    }
  }
  
  .side-menu-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: calc(100% - 3rem); /* Adjust width to align with close button */
    z-index: 2;
  }
  
  .side-menu-links li {
    margin-bottom: 0.5rem;
    position: relative;
  }
  
  .side-menu-links a, 
  .side-menu-links button {
    display: flex;
    align-items: center;
    width: 100%; /* Full width */
    padding: 0.75rem 1rem;
    text-align: left;
    background: none;
    border: none;
    font-size: 1rem;
    color: var(--text-color);
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, border-radius 0.3s ease;
    
  }
  
  .side-menu-links a:hover, 
  .side-menu-links button:hover {
    background-color: var(--btn-hover-color);
    border-radius: 10px;
  }
  
  .side-menu-links svg {
    margin-right: 0.75rem;
    font-size: 1.2rem;
  }

  /* .side-menu-links a[href="/dashboard"] {
    background-color: var(--primary-color);
    /* color: white; 
    border-radius: 10px;
    margin-bottom: 0.5rem;
  }*/
   

  .theme-dropdown-container {
    position: relative;
  }
  
  .theme-dropdown {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease-out, opacity 0.1s ease-out, transform 0.3s ease-out;
    transform: translateY(-10px); /* Change to negative value */
    position: static; /* Change to static */
    width: 100%;
    /* background-color: var(--sidebar-bg); */
    z-index: 1;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
  }
  
  .theme-dropdown.open {
    max-height: 200px;
    opacity: 1;
    transform: translateY(0);
  }
  
  .theme-dropdown button {
    padding-left: 2.5rem;
    width: 100%;
  }
  .theme-tick {
    margin-left: auto;
  }
  
  .sidebar-separator {
    border: none;
    border-top: 1px solid var(--secondary-color);
    margin: 0.5rem 0;
  }

  .error-message {
    color: #dc3545;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    padding: 0.75rem;
    margin-bottom: 1rem;
  }
  